h1 Button dropdowns
.line
h4.Second Button dropdown colors
p.content-bg Add dropdown menus to nearly anything with this simple plugin,including the navbar,tabs,and pills.We provide a set color of dropdown for your choice.
.bs-example
  .row
    .col-md-3
      .dropdown
        button.btn.btn-default Primary
          span.caret
        ul.dropdown-menu
          li
            a(href="#") Action
          li
            a(href="#") Another action
          li
            a(href="#") Something else here
          li
            a(href="#") Separated link

    .col-md-3
      .dropdown
        button.btn.btn-default Success
          span.caret
        ul.dropdown-menu
          li
            a(href="#") Action
          li
            a(href="#") Another action
          li
            a(href="#") Something else here
          li
            a(href="#") Separated link

    .col-md-3
      .dropdown
        button.btn.btn-default Danger
          span.caret
        ul.dropdown-menu
          li
            a(href="#") Action
          li
            a(href="#") Another action
          li
            a(href="#") Something else here
          li
            a(href="#") Separated link

    .col-md-3
      .dropdown
        button.btn.btn-default Warning
          span.caret
        ul.dropdown-menu
          li
            a(href="#") Action
          li
            a(href="#") Another action
          li
            a(href="#") Something else here
          li
            a(href="#") Separated link

  .row
    .col-md-3
      .btn-group
        button.btn.btn-default.dropdown-toggle Info
          span.caret
        ul.dropdown-menu
          li
            a(href="#") Action
          li
            a(href="#") Another action
          li
            a(href="#") Something else here
          li
            a(href="#") Separated link

    .col-md-3
      .dropdown
        button.btn.btn-default Default
          span.caret
        ul.dropdown-menu
          li
            a(href="#") Action
          li
            a(href="#") Another action
          li
            a(href="#") Something else here
          li
            a(href="#") Separated link

.lineNum
  pre
    p 1
    p 2
    p 3
    p 4
    p 5
    p 6
    p 7
    p 8
    p 9
    p 10
    p 11
    p 12
    p 13
    p 14

  .code
    pre
      p
        span.btn-color  .row
      p
        span.btn-color    .col-md-3
      p
        span.btn-color      .btn-group
      p
        span        button
        span.btn-color .btn.btn-default
        |  Default
      p
        span          span
        span .caret
      p
        span        ul
        span.btn-color .dropdown-menu
      p
        span          li
      p
        span          a
        span (href="#") Action
      p
        span          li
      p
        span          a
        span (href="#") Another action
      p
        span          li
      p
        span          a
        span (href="#") Something else here
      p
        span          li
      p
        span          a
        span (href="#") Separated link

h4.Second Button dropdown size
p.content-bg Size might vary from smaller screen to a larger screen,We made few sizes that are pixel perfect and resposive.Fancy larger or smaller buttons?
  span.btn-color .btn-lg
  |  ,
  span.btn-color .btn-sm
  |  ,or
  span.btn-color .btn-xs
  |  for additional sizes.
.bs-example
  .btn-group
    button.btn-lg Large button
    span.caret
    button.btn Default button
    span.caret
    button.btn Small button
    span.caret
    button.btn Extra small button
    span.caret
.lineNum
  pre
    p 1
    p 2
    p 3
    p 4
    p 5
    p 6
    p 7
    p 8
    p 9

  .code
    pre
      p
        span.btn-color  .btn-group
      p
        span    button
        span.btn-color .btn-lg
        |  Large button
      p
        span      span
        span .caret
      p
        span    button
        span.btn-color .btn
        |  Default button
      p
        span      span
        span .caret
      p
        span    button
        span.btn-color .btn
        |  Small button
      p
        span      span
        span .caret
      p
        span    button
        span.btn-color .btn
        |  Extra small button
      p
        span      span
        span .caret

h4.Second Disabled items
p.content-bg Add
  span.btn-color .disabled
  |  to a
  span.btn-color <
  span.btn-color li>
  |  in the dropdown to disable the link
.bs-example
  button.dropdown Dropdowns
  ul.dropdown-menu
    li
      a(href="#") Action
    li
      a(href="#") Another action
    li.disabled
      a(href="#") Something else here
    li
      a(href="#") Separated link
.lineNum
  pre
    p 1
    p 2
    p 3
    p 4
    p 5
    p 6
    p 7
    p 8
    p 9
    p 10
    p 11

  .code
    pre
      p
        span    button
        span.btn-color .btn
        |  Default button
      p
        span      span
        span .caret
      p
        span        ul
        span.btn-color .dropdown-menu
      p
        span          li
      p
        span          a
        span (href="#") Action
      p
        span          li
      p
        span          a
        span (href="#") Another action
      p
        span          li
        span.btn-color .disabled
      p
        span          a
        span (href="#") Something else here
      p
        span          li
      p
        span          a
        span (href="#") Separated link

h4.Second Icon menu item
p.content-bg Use any button to trigger a dropdown menu by placing it within a
  span.btn-color .btn-group
  |  and providing the proper menu markup.
.bs-example
