h1 Panels
.line
h4#basic-panels.Second Basic panels
p.content-bg By default, all the
   span.btn-color .panel
   |  does is apply some basic border and padding to contain some content.
.bs-example
   .panel
      .panel-body Panel content
.lineNum
   pre
      p 1
      p 2

   .code
      pre
         p
         span.btn-color .panel
         p
         span.btn-color    .panel-body
         |  Panel content


h4#panel-heading.Second Panel with heading
p.content-bg Easily add a heading container to your panel with
   span.btn-color .panel-header
   |  . You may also include any
   span.btn-color < h1 >-< h6 >
   |  with a
   span.btn-color .panel-title
   |  class to add a pre-styled heading.

.bs-example
   .panel
      .panel-header
         h3.panel-title Panel title
      .panel-body Panel content
   .panel
      .panel-header Panel heading without title
      .panel-body Panel content
.lineNum
   pre
      p 1
      p 2
      p 3
      p 4
      p 5
      p 6
      p 7
   .code
      pre
         p
            span.btn-color .panel
         p
            span.btn-color    .panel-header
         p
            span.btn-code        h3
            span.btn-color .panel-title
            |  Panel title
         p
            span.btn-color    .panel-body
            |  Panel content
         p
            span.btn-color .panel
         p
            span.btn-color    .panel-header
            |  Panel heading without title
         p
            span.btn-color    .panel-body
            |  Panel content

h4#panel-footer.Second Panel with footer
p.content-bg Wrap buttons or secondary text in
   span.btn-color .panel-footer
   |  . Note that panel footers do not inherit colors and borders when using contextual variations as they are not meant to be in the foreground.
.bs-example
   .panel
      .panel-body Panel content
      .panel-footer Panel footer
.lineNum
   pre
      p 1
      p 2
      p 3

   .code
      pre
         p
            span.btn-color .panel
         p
            span.btn-color    .panel-body
            |  Panel content
         p
            span.btn-color    .panel-footer
            |  Panel footer


h4#panel-table.Second With tables
p.content-bg Add any non-bordered
   span.btn-color .table
   |  within a panel for a seamless design. If there is a
   span.btn-color .panel-body
   | , we add an extra border to the top of the table for separation.
.bs-example
   .panel
      .panel-header
         .panel-title Panel title
      .panel-body
         table.table
            thead
               tr
                  th Name
                     i.fa.fa-sort
                  th Position
                     i.fa.fa-sort-asc
                  th Office
                     i.fa.fa-sort-desc
                  th Age
                     i.fa.fa-sort
                  th Date
                     i.fa.fa-sort
            tbody
               tr
                  td Mark
                  td 7579 Santa Forest
                  td Jordaneville
                  td 21
                  td 2013/05/13
               tr
                  td Mark
                  td 7579 Santa Forest
                  td Jordaneville
                  td 21
                  td 2013/05/13
               tr
                  td Mark
                  td 7579 Santa Forest
                  td Jordaneville
                  td 21
                  td 2013/05/13
               tr
                  td Mark
                  td 7579 Santa Forest
                  td Jordaneville
                  td 21
                  td 2013/05/13
               tr
                  td Mark
                  td 7579 Santa Forest
                  td Jordaneville
                  td 21
                  td 2013/05/13
               tr
                  td Mark
                  td 7579 Santa Forest
                  td Jordaneville
                  td 21
                  td 2013/05/13
               tr
                  td Mark
                  td 7579 Santa Forest
                  td Jordaneville
                  td 21
                  td 2013/05/13
               tr
                  td Mark
                  td 7579 Santa Forest
                  td Jordaneville
                  td 21
                  td 2013/05/13
      .panel-footer Panel footer
      .pagination
.lineNum
   pre
      p 1
      p 2
      p 3
      p 4
      p 5
      p 6
      p 7
      p 8

   .code
      pre
         p
            span.btn-color .panel
         p
            span.btn-color    .panel-header
         p
            span.btn-color       .panel-title
            |  Panel title
         p
            span.btn-color    .panel-body
         p
            |        table
            span.btn-color .table
         p
            |           ...
         p
            span.btn-color    .panel-footer
            |  Panel footer
         p
            span.btn-color    .pagination